# MongoDB Atlas connection string
# Format: mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/DBNAME?retryWrites=true&w=majority&appName=APP
MONGODB_URI="mongodb+srv://username:password@cluster.mongodb.net/5ica?retryWrites=true&w=majority&appName=5ica"

# Public site URL (production)
NEXT_PUBLIC_SITE_URL="https://5ica.rs"

# Kontakt email
NEXT_PUBLIC_CONTACT_EMAIL="5ica.kontakt@gmail.com"
